<footer>
  <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
  </a>
         <div class="elem">
          <div class="email">
          <img src="{{ url_for('static', filename='images/Message.png') }}">
          <a href="mailto:weatherproject@gmail.com">weatherproject@gmail.com</a>
          </div>
          <div class="facebook">
              <img src="{{ url_for('static', filename='images/facebook.png') }}">
              <a href="https://www.facebook.com/sinoptik.ua" target="_blank">Weather Project</a>
          </div>
              <div class="phone">
                  <img src="{{ url_for('static', filename='images/phone.png') }}">
                  <a href="tel:380962553664">+380962553664</a>
              </div>
</div>
</footer>