<footer>
  <a href="index.html" class="logo"><h2>LOGO</h2></a>
         <div class="elem">
          <div class="email">
          <img src="{{ url_for('static', filename='images/Message.png') }}">
          <p>weatherproject@gmail.com</p>
          </div>
          <div class="facebook">
              <img src="{{ url_for('static', filename='images/facebook.png') }}">
              <p>Weather Project</p>
          </div>
              <div class="phone">
                  <img src="{{ url_for('static', filename='images/phone.png') }}">
                  <p>+380962553664</p>
              </div>
</div>
</footer>