<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style.css">
  <title></title>
</head>

<body>
  {% include 'header.html' %}
  <main>
    <div class="city">
      <img src="{{ url_for('static', filename='images/map.png') }}">
      <div class="city-name">
          <p>{{ weather.city }}, {{ weather.country }}</p>
          <p>{{ weather.region }}</p>
      </div>
  </div>
  
  <div class="weather-scroll">
    {% for day in weather.forecast %}
        <div class="frame weather-card">
            <p>{{ day.date }}</p> 
            <p>{{ day.time }}</p>
            <img src="{{ url_for('static', filename='images/' + day.icon) }}">
            <div class="range">
                <div class="range-title">
                    <p>мін</p>
                    <p>{{ day.temp_min }} °C</p>
                </div>
                <div class="range-title">
                    <p>макс</p>
                    <p>{{ day.temp_max }} °C</p>
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>

<div id="weather-article" style="display: none;">
  {% include 'article.html' %}
</div>
  </main>
  {% include 'footer.html' %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        let cards = document.querySelectorAll(".weather-card");
        let article = document.getElementById("weather-article");
  
        cards.forEach(card => {
            card.addEventListener("click", function () {
                article.style.display = "block";
            });
        });
    });
  </script>
</body>

</html>