<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/test.css') }}">
  <title>Прогноз погоди</title>
</head>

<body>
  {% include 'header.html' %}

  <main>
    <div class="city">
      <img src="{{ url_for('static', filename='images/map.png') }}">
      <div class="city-name">
          <p >{{ weather.city }}, {{ weather.country }}</p>
          {% if weather.region %}
            <p>{{ weather.region }}</p>
          {% endif %}
      </div>
    </div>
     <div id="weather-scroll" class="weather-scroll"></div>
     <div id="container" class="container"></div>
    </div>

  </main>

  {% include 'footer.html' %}
  <script id="weather-data" type="application/json" defer>
    {{ weather.forecast | tojson | safe }}
  </script>
  <script src="{{ url_for('static', filename='scripts/main.js') }}" defer></script>
</body>

</html>
