* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#map {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(63.02deg, #A8C8ED 1.29%, #7673DC 99.57%);
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #8ba7f4, #a3bef8);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
}

.logo {
  width: 160px;
  height: 52px;

}

.search {
  position: relative;
  font-family: Poppins;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 558px;
  height: 50px;
  opacity: 0.3;
  border-radius: 55px;
  font-size: 24px;
}

form {
  position: relative;
  display: flex;
  align-items: center;
}

.but-search {
  position: absolute;
  cursor: pointer;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px 13px;
  border-radius: 50%;
  background: #fff;
  border: none;

}


/* footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1;
}

.main-map {
  padding: 18px 20px;
}

footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 5px 25px;
  width: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.email,
.facebook,
.phone {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.elem {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.elem a {
  text-decoration: none;
  color: black;
}

.facebook p {
  white-space: nowrap;
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;

}

.city {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 20px;
}

.city-name {
  display: flex;
  flex-direction: column;
}

.city-name p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 3%;
  color: white;

}

.weather-scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 500px;
  overflow-y: hidden;
  overflow-x: auto;
  padding-right: 10px;
  gap: 30px;
}

.frame {
  background: rgba(255, 255, 255, 0.2);
  width: 206px;
  height: 297px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.frame p {
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 3%;
  text-align: center;

}

.range {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.range-title {
  display: flex;
  flex-direction: column;

}

.range-title p {
  font-family: Poppins;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.weather-frame-cards{
width: 105px;
height: 105px;
}

/*  */

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 0 ;
  width: 220px;
  height: fit-content;
  text-align: center;
  gap: 5px;
}

.forecast-columns {
  display: flex;
  width: 100%;
  flex-direction: row; 
  justify-content: space-between;
}

.forecast-column {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forecast-column.time {
  font-weight: bold;
}

.forecast-icon {
  width: 78px;
  height: 76px;
}

.labels {
  display: flex;
  height: fit-content;
  flex-direction: column; 
  align-self: flex-end;
  line-height: 19.5px;
  gap: 15px;
  padding-bottom: 20px;
  text-align: right;
  color: rgb(92, 92, 92);
  font-size: 20px;
}


.forecast-column p:first-child {
  margin-bottom: 15px;
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  max-height: 500px;
  overflow-y: hidden;
  overflow-x: auto;
  padding-right: 10px;

}
.day-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
}
 .date-info h2,
.date-info h1 {
  font-size: 30px;
  margin: 5px 0;
}
.sun-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  margin-top: 30px;
}

.sun-info p {
  display: flex;
  justify-content: flex-end;
  width: 140px;
  font-size: 22px;
  margin: 0;
}

.label {
  text-align: right;
  flex: 1;
  padding-right: 30px;
}

.time {
  text-align: right;
  min-width: 50px;
}

.weather-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 20px;
}

.weather-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.values p {
  font-size: 17px !important;
  font-weight: bold;
  color: white;
}

/* error page */
.error-message {
  color: red;
}
.error-message-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.home-button {
  padding: 10px 20px;
  font-size: 18px;
  align-self: center;
  width: 300px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* adaptive */

@media (min-width: 320px) and (max-width: 720px) {
  /* index page */
  .logo{
    width: 114px;
    height: 46px;
  }

  .search{
    width: 200px;
    height: 35px;
    font-size: 15px;
  }

  #map{
    height: 500px;
  }
  footer a .logo{
    display: none;
  }
  .elem{
    font-size: 10px;
    gap: 0px;
  }
  .email, .facebook, .phone{
    gap: 5px;
  }

  /* weather page */
  .city-name p{
    font-size: 25px;
  }

  .frame{
    width: 100px;
  }
}
