.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  width: 220px;
  height: 424px;
  text-align: center;
  margin: 0 10px;
}

.forecast-columns {
  display: flex;
  gap: 20px; 
}

.forecast-column {
  flex: 1; /* Обидві колонки займають рівно половину доступного простору */
}

.forecast-column.time {
  font-weight: bold;
}

.forecast-column.values p {
  margin: 5px 0;
}

